$duration: 10s;

.Timer {
    display: block;
    text-align: center;
    color: #000;
    font-size: 36px;

    p {
        margin: 0 0 10px;
        padding: 20px 5px;
        border-radius: 5px;
        transition: all 1s linear;
        background: linear-gradient(90deg, rgb(106, 240, 94) 96%, #fff 99%, #fff 100%), 
                    linear-gradient(90deg, #fff 0%, #fff 100%);
        background-repeat: no-repeat, no-repeat;
        background-position: left center, center;
        background-size: 103% 100%, cover;
    }

    p.start {
        animation-name: timer;
        animation-duration: $duration;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
}

@keyframes timer {
    0% {
        background-size: 103% 100%, cover;
    }

    100% {
        background-size: 0% 100%, cover;
    }
}