.SideBar {
    width: 200px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

@media all and (max-width: 768px) {

    .SideBar {
        width: 100%;
        flex-direction: column-reverse;
    }
}
